<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="inp" method="post" action="/transform" enctype="multipart/form-data">
        <input type="file" id="inpt" name="input_file">
        <input name="cnt" type="number" min="1" max="800">
        <input name="types" type="number" min="0" max="10">
        <button type="submit">
            Upload
        </button>
    </form>
    <img src="{{ .output }}">
</body>

</html>